/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.head-style{
    font-size: 18px;
    list-style-type:none ;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content:flex-start;

}

.styleprofile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.styletable{
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: auto;

}

.styletable th{
    border: 2px solid black;
    padding: 6px;
    text-align: center;
}

.styletable td{
    border: 2px solid black;
    padding: 6px;
    text-align: left;
}

fieldset{
    display: inline-block;
    width: 50%;
    height: 50%;
    background: darkorange;
    border-radius: 25px;
    
}

input{
    border: 3px solid brown;
    display: inline;
    width: 90%;
}

select{
    border: 3px solid brown;
    display: inline;
    width: 90%;
}

textarea{
    border: 3px solid brown;
    display: inline-block;
    width: 90%;
    height: 150px;
}

.center h1, .center img{
    text-align: center;
    border-image-slice: fill;
}

.center-h1pic {
    display: block;
    text-align: center;
}